{% extends 'user/pages/workers/template.html.twig' %}

{% set page_title %}Équipe{% endset %}
{% set page_subtitle %}
    Ajoutez les membres de votre équipe pour les inscrire aux formations.
{% endset %}

{% set page_actions %}
    <a href="{{ path('user_workers_create') }}"
       class="inline-flex justify-center text-center rounded-md bg-blue-600 py-2 px-4 text-sm font-semibold text-slate-50 shadow-sm ring-1 ring-inset ring-blue-600 hover:bg-blue-500"
    >
        <span class="icon-add inline-block translate-y-0.5"></span>
        <span class="ml-1">Ajouter un membre</span>
    </a>
{% endset %}

{% block main_content %}
    <div class="mx-auto">
        {% if data is empty %}
            <div class="flex flex-col gap-2 items-center pt-6">
                <div>
                    <span class="icon-group inline-block text-5xl text-gray-600"></span>
                </div>
                <div class="text-center">
                    <h2>Ajouter un membre à l'équipe</h2>
                    <p class="text-gray-600 text-sm">
                        Vous n'avez pas encore ajouté de membre à votre équipe.
                    </p>
                </div>
                <div id="worker_create" class="w-full max-w-3xl mt-4">
                    {% include "layout/components/user/loaders/loader.html.twig" %}
                </div>
            </div>
        {% else %}
            <div class="bg-white rounded-md shadow px-4">
                <table class="w-full table-auto">
                    <thead class="text-gray-600 text-left uppercase border-b">
                    <tr>
                        <th scope="col" class="pb-2 pt-4">Membre</th>
                        <th scope="col" class="pb-2 pt-4">Email</th>
                        <th scope="col" class="pb-2 pt-4"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elem in data %}
                        <tr>
                            <td class="py-2">{{ elem.lastname }} {{ elem.firstname }}</td>
                            <td class="py-2">{{ elem.email }}</td>
                            <td class="py-2 flex justify-end gap-2">
                                <a href="{{ path('user_workers_update', {id: elem.id}) }}"
                                   class="relative inline-flex justify-center rounded-md bg-white text-lg px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                >
                                    <span class="icon-pencil text-gray-600"></span>
                                    <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">
                                        Modifier
                                    </span>
                                </a>
                                <a href="{{ path('user_workers_update', {id: elem.id}) }}"
                                   class="relative inline-flex justify-center rounded-md bg-white text-lg px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                >
                                    <span class="icon-trash text-gray-600"></span>
                                    <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">
                                        Supprimer
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
