{% extends 'user/pages/workers/template.html.twig' %}

{% set page_title %}Modifier {{ elem.lastname }}{% endset %}
{% set page_subtitle %}
    Modifier les informations de {{ elem.lastname }} {{ elem.firstname }}.
{% endset %}

{% set page_actions %}
    <a href="{{ path('user_workers_index') }}"
       class="inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
    >
        <span class="icon-left-arrow inline-block translate-y-0.5"></span>
        <span class="ml-1">Retourner à la liste</span>
    </a>
{% endset %}

{% block main_content %}
    <div id="worker_update" class="w-full mx-auto max-w-3xl" data-obj="{{ obj }}">
        {% include "layout/components/user/loaders/loader.html.twig" %}
    </div>
{% endblock %}
