{% extends 'layout/layout_user.html.twig' %}

{% set page_prefix = "Espace membre" %}

{% set menu = [
    { name: "Dashboard", path: path('user_homepage'), matchRoute: ['user_homepage']},
    { name: "Mon compte", path: path('user_profil_index'), matchRoute: ['user_profil_index']},
    { name: "Formations", path: path('user_formations_index'), matchRoute: ['user_formations_index', 'user_formations_read']},
] %}

{% set menuProfil = [
    { name: "Mon compte", path: path('user_profil_index'), matchRoute: ['user_profil_index']},
] %}

{% if is_granted('ROLE_MANAGER') %}
    {% set menuProfil = menuProfil | merge([
        { isSeparator: true },
        { name: "Espace manager", path: path('manager_homepage'), matchRoute: ['manager_homepage']}
    ]) %}
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    {% set menuProfil = menuProfil | merge([
        { name: "Espace administrateur", path: path('admin_homepage'), matchRoute: ['admin_homepage']}
    ]) %}
{% endif %}

{% set menuProfil = menuProfil | merge([
    { isSeparator: true },
    { name: "Se déconnecter", path: path('app_logout'), matchRoute: ['app_logout']}
]) %}

{% block footer %}
    <div class="bg-white px-4 py-8 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-7xl grid gap-4 sm:grid-cols-3 pb-4">
            <div class="flex flex-shrink-0">
                <img class="h-8 w-auto" src="{{ asset('build/user/images/logo.png') }}" alt="Your Company">
            </div>
            <div class="grid grid-cols-2 gap-4 sm:col-span-2">
                <div class="flex flex-col">
                    <div class="font-semibold uppercase">Liens utiles</div>
                    {% for item in menu %}
                        <a href="{{ item.path }}" class="block font-medium hover:text-gray-600">
                            <span>{{ item.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="flex flex-col text-right">
                    <div class="font-semibold">Website</div>
                    <div>17 rue de la République</div>
                    <div>13002, Marseille</div>

                    <div class="mt-2">
                        <a href="" class="inline-block rounded-md bg-yellow-400 font-semibold py-2 px-8 text-center uppercase transition-colors hover:bg-yellow-300">
                            04 91 99 44 43
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-7xl border-t pt-4 flex gap-2 justify-center">
            <p>&copy; 2024 - <a href="https://logilink.fr" class="text-blue-600">Logilink.fr</a></p>
            <span>-</span>
            <a class="footer-link" href="{{ path('app_mentions') }}">Mentions légales</a>
            <a class="footer-link" href="{{ path('app_politique') }}">Politique de confidentialité</a>
            <a class="footer-link" href="{{ path('app_cookies') }}">Gestion des cookies</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="footer-link" href="{{ path('admin_homepage') }}">Espace administrateur</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
