{% extends 'user/pages/news/template.html.twig' %}

{% set page_title %}Actualités{% endset %}
{% set page_subtitle %}
    Retrouvez toutes nos actualités sur cette page.
{% endset %}

{% set page_actions %}
    {% if is_granted('ROLE_MANAGER') %}
        {% include "user/layout/components/buttons/button_blue.html.twig" with {
            btn_link: path('manager_news_create'),
            btn_icon: 'add',
            btn_text: 'Ajouter une actualité'
        }
        %}
    {% endif %}
{% endset %}

{% block main_content %}
    <div class="mx-auto">
        {% if data is empty %}
            <div class="flex flex-col gap-2 items-center pt-6">
                <div>
                    <span class="icon-book-1 inline-block text-5xl text-gray-600"></span>
                </div>
                <div class="text-center">
                    <h2>Aucune actualité pour le moment.</h2>
                    <p class="text-gray-600 text-sm">
                        Revenez plus tard pour découvrir nos articles !
                    </p>
                </div>
            </div>
        {% else %}
            <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                {% for elem in data %}
                    <a href="{{ path('user_news_read', {slug: elem.slug}) }}"
                       class="flex flex-col basis-1/2 group/item"
                    >
                        <div class="h-64 w-full rounded-md overflow-hidden">
                            <img src="{{ elem.fileFile }}" alt="illustration actualité"
                                 class="object-cover h-full w-full">
                        </div>
                        <div class="w-full pt-4">
                            <div class="text-gray-500 text-xs">{{ elem.createdAt | date('d/m/y') }}</div>
                            <h2 class="font-semibold text-lg  group-hover/item:opacity-70">
                                {{ elem.name }}
                            </h2>
                            <div class="text-gray-500 text-sm">{{ elem.content | striptags | slice(0, 180) }}...</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
